@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100svh;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
